*{
    box-sizing: content-box;
}
 body{
    margin: 0px;
    border: 0px;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1.1vw;
    margin-top: 5vw;
}
.picture-1{
    background-color:  #62306d;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 25vw;
    height: 40vh;
    padding:50px

}
.box{
    width: auto;
}
.box:nth-child(even){
    background-color:  #F7EC7D;
}
.box:nth-child(4){
    border-bottom-right-radius: 95px;
    border-bottom-left-radius: 95px;

}
.box:nth-child(6){
    border-bottom-right-radius: 95px;
    border-bottom-left-radius: 95px;
}
.box:nth-child(2){
    border-top-right-radius: 95px;
    border-top-left-radius: 95px;
}
/*second picture*/

.picture-2{
    background-color: #E3516E;
    display: grid;
    grid-template-columns: auto auto;
    width: 25vw;
    height: 40vh;
    padding: 50px;
}
.box2:nth-child(1){
    background-color: #51b5a9;
    border-top-left-radius: 460px;
}
.box2:nth-child(2){
    background-color: #FADE8B;
    border-top-right-radius: 460px;

}
.box2:nth-child(3){
    background-color: #F7f3d7;
    border-bottom-left-radius: 460px;
}

